# Node
node_modules/
npm-debug.log*

# Build outputs
dist/
**/dist/
**/dist-zip/
web/dist/

# Prevent compiled JS artifacts in TS source directories
web/src/**/*.js
services/*/src/**/*.js

# Env
.env
**/.env.local

# Terraform
.terraform/
terraform.tfstate*

# OS/Editor
.DS_Store
.vscode/

# Local reference lists not for version control
GIBS FAVORITE LAYER MASTERLIST.txt

# Logs
/logs/

# Local Python virtualenv
.venv/
